main{
  height: 500px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--orange-color);
}

.input{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input{
  height: 30px;
  max-width: 100%;
}

.botoes{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#description{
  height: 100px;
  max-width: 100%;
}

button{
  width: 100px;
  height: 30px;
}

.cancelar{
  background-color: var(--red-color);
}

.salvar{
  background-color: var(--green-color);
}

#categorias{
  height: 30px;
  max-width: 100%;
}
