.container{
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  color: white;
}

.header{
  display: flex;
  height: 130px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 3vh;
  font-weight: bold;

}

.linha{
  background-color: #ffffff11;
  width: 100%;
  height: 3px;
}

.lista{
  display: list-item;
  padding-top: 50px;
  padding-left: 35px;
  gap: 10px;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

img{
  max-width: 24px;
}

a{
  display: flex;
  align-items: end;
  gap: 10px;
}

.bars{
  display: none;
}
@media (max-width: 1450px) {
  .container{
    width: 260px;
  }
}

@media (max-width: 1024px) {
  .container{
    width: 180px;
  }
}

@media (max-width: 768px) {
  .container{
    height: 100%;
  }
}

@media(max-width: 425px) {
  .container{
    position: fixed;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
  }

  .header{
    height: 50px;
    width: 100px;
  }

  .bars{
    display: block;
    font-size: 1.5rem;
  }

  .lista{
    display: none;

  }

  .linha{
    display: none;
  }

  .lista{
    flex-direction: column;
    background-color: var(--background-color);
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px 0;
    gap: 8px;
}

.lista li{
  height: 30px;
}

}
