<div class="container">
  <div class="header">Planilha</div>
  <div class="linha"></div>

  <nav id="nav">
    <ul class="lista" id="lista">
      <li>
        <a [routerLink]="['/dashboard']">
          <img src="../../assets/img/home.png" alt="">
          <p>Home</p>
        </a>
      </li>
      <li>

        <a [routerLink]="['/receita']">
          <img src="../../assets/img/receita.png" alt="">
          <p>Receitas</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/despesa']">
          <img src="../../assets/img/despesa.png" alt="">
          <p>Despesas</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/perfil']">
          <img src="../../assets/img/perfil.png" alt="">
          <p>Perfil</p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/login']">
          <img src="../../assets/img/sair.png" alt="">
          <p>Sair</p>
        </a>
      </li>
    </ul>
    <fa-icon class="bars" id="bars" [icon]="fabars" (click)="abrimenu()" ></fa-icon>
  </nav>

</div>
