main{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.table-container {
  width: 650px;
  height: 400px; /* Altura fixa da tabela */
  overflow-y: auto; /* Adiciona barra de rolagem quando necessário */
  border: 5px ridge var(--second-color);
  border-radius: 20px;
  background-color: var(--second-color);
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  padding: 8px;
  text-align: left;
}

th{
  max-width:120px;
  color: var(--red-color);
}

thead {
  background-color: var(--background-color);
}

.table-container::-webkit-scrollbar {
  width: 0px;
}

.selection{
  display: flex;
  align-items: center;
  gap: 30px;
}

.borda{
  width: 230px;
  border: 4px solid var(--red-color);
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.anterior-btn {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right:25px solid var(--red-color);
  border-left: 0px;
  background-color: var(--second-color);
}

.proximo-btn {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid var(--red-color);
  border-right:25px;
  background-color: var(--second-color);
}

@media (max-width: 1450px) {
  .table-container{
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 1360px) {
  .table-container{
    width: 400px;
    height: 250px;
  }
}

@media (max-width: 1024px) {
  .table-container{
    width: 400px;
    height: 250px;
  }
}


