<main>
  <div class="selection">
    <button class="anterior-btn" (click)="mesAnterior()" ></button>
    <div class="borda">
    <h1>{{mes}}/{{year}}</h1>
    </div>
  <button class="proximo-btn" (click)="proximoMes()"></button>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="titles">Nome</th>
          <th>Valor</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr id={{dados.id}} *ngFor="let dados of list" [ngStyle]="{'color': dados.color}" (click)="openModal(dados.id, dados.tipo)">
            <td>{{dados.nome}}</td>
            <td >{{dados.valor}}</td>
            <td>{{dados.data}}</td>
        </tr>
      </tbody>
    </table>

  </div>


</main>
