<div class="main">
  <div class="card-login">
    <h1>Login</h1>
    <form class="form" id="form" #f="ngForm" (ngSubmit)="logar(f)">
      <div class="input">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" ngModel required pattern="^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$"
          #email="ngModel" />
        <div *ngIf="(email?.invalid && email?.touched) || email?.dirty">
          <app-mensagem *ngIf="email?.errors?.['required']" mensagem="O email deve ser preenchido"></app-mensagem>
          <app-mensagem *ngIf="email?.errors?.['pattern']"
            mensagem="O campo deve seguir este padrao: 'exemplo@dominio.com'"></app-mensagem>
        </div>
      </div>
      <div class="input">
        <label for="senha">Senha</label>
        <input type="password" name="password" id="password" ngModel required minlength="8" #password="ngModel" />
        <div *ngIf="(password?.invalid && password?.touched) || password?.dirty">
          <app-mensagem *ngIf="password?.errors?.['required']"
            mensagem="O campo de senha deve ser preenchido"></app-mensagem>
          <app-mensagem *ngIf="password?.errors?.['minlength']"
            mensagem="O campo deve possuir no minimo 8 caracteres"></app-mensagem>
            <app-mensagem [ngStyle]="{'display': display}" mensagem="Usuário não encontrado"></app-mensagem>
        </div>
      </div>
      <button type="submit" class="form__button">Entrar</button>
    </form>
    <div class="login">
      <p>Não possui uma conta ainda?</p>
      <p (click)="register()" class="register__click">Cadastre-se</p>
    </div>

  </div>
  <img src="../../../../assets/img/img-login.png" alt="">
</div>
