<div class="container">
  <app-header></app-header>
  <div class="main">
    <h1 class="titulo">Receita</h1>
    <div class="receita">
      <app-lista [list]="lista"  [funcao]="openModalEditRecipe"></app-lista>
      <canvas id="pizza" ></canvas>
      <div class="botoes">
        <button class="botao green" (click)="openModalRecipe()">Criar Receita</button>
        <button class="botao orange" (click)="openModalRecipeFixed()">Criar Receita Fixa</button>
      </div>
    </div>
    <h1 class="titulo">Receita Fixa</h1>
    <div class="receita-fixa">
      <app-lista [list]="listaFixa"  [funcao]="openModalEditRecipeFixed" color="var(--orange-color)"></app-lista>
      <div class="retangulo-valores">
        <app-valor-retangular title="Receitas" value="{{value}}" img="../../../assets/img/retangulo-receita.png" color="var(--green-color)"></app-valor-retangular>
        <app-valor-retangular title="Receitas Fixas" value="{{valueFixed}}" img="../../../assets/img/retangulo-receita.png" color="var(--orange-color)"></app-valor-retangular>
        <app-valor-retangular title="Receitas Unificadas" img="../../../assets/img/astec.png" color="var(--orange-color)" (click)="teste()"></app-valor-retangular>
        <app-valor-retangular title="Total" value="{{total}}" img="../../../assets/img/balance.png" color="var(--green-color)" ></app-valor-retangular>
      </div>
    </div>
  </div>
</div>
