<main>
  <form class="form" id="form" #f="ngForm" (ngSubmit)="cadastrar(f)">
    <div class="input">
      <label for="nome">Nome</label>
      <input type="text" name="name" id="name" ngModel required minlength="2" #name="ngModel" />
    </div>
    <div class="input">
      <label for="valor">Valor</label>
      <input type="number" name="valor" id="valor" ngModel required #valor="ngModel" />
    </div>
    <div class="input">
      <label for="data">Data</label>
      <input type="date" name="date" id="date" ngModel required #date="ngModel" />
    </div>
    <div class="botoes">
      <button type="button" class="cancelar" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="salvar">Salvar</button>
    </div>
  </form>
</main>
