.container {
  width: 100vw;
  display: grid;
  grid-template-areas: 'header main';
  grid-template-columns: 310px auto;
  background-color: var(--background-color);
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: 'start' 'valores' 'graficosCheios';
  grid-template-rows: 355px 210px 350px;
  padding-top: 10px;
}

.start {
  grid-area: start;
  display: flex;
  gap: 60px;
  padding-left: 60px;
}

.container-retangulos {
  background-color: var(--second-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 345px;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: retangulo;
  border-radius: 20px;
}

.grafico {
  grid-area: grafico;
  height: 345px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  background-color: var(--second-color);
  border-radius: 20px;
}

.valores {
  width: 100%;
  grid-area: valores;
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  gap: 60px;
}

.graficosCheios {
  grid-area: graficosCheios;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 60px;

}

.chartAnual {
  background-color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: anual;
  height: 350px;
  width: 900px;
  border-radius: 20px;
}

.chartTotal {
  background-color: var(--second-color);
  grid-area: total;
  height: 350px;
  width: 490px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

@media (max-width: 1440px) {
  .container {
    grid-template-columns: 270px auto;
  }

  .main {
    display: grid;
    grid-template-rows: 260px 120px;
  }

  .container-retangulos {
    width: 509px;
    height: 250px;
  }

  .grafico {
    height: 250px;
    width: 457px;
  }

  .chartAnual {
    width: 600px;
  }

  #chartAnual {
    width: 800px;
    height: 200px;
  }

  .chartTotal {
    width: 405px;
  }
}

@media (max-width: 1360px) {
  .main {
    display: grid;
    grid-template-rows: 260px 110px;
  }

  .container-retangulos {
    width: 480px;
    height: 250px;
  }

  .grafico {
    height: 250px;
    width: 420px;
  }

  .valores {
    justify-content: start;
  }

  .graficosCheios {
    gap: 20px;
    align-items: normal;
  }

  .chartAnual {
    width: 540px;
    height: 235px;
  }

  .chartTotal {
    height: 235px;
  }
}

@media(max-width: 1024px) {

  .container {
    grid-template-columns: 190px auto;
  }

  .main{
    grid-template-rows: 220px 170px;

  }

  .start {
    gap: 30px;
    padding-left: 30px;
  }

  .container-retangulos {
    width: 380px;
    height: 200px;
  }

  .grafico {
    height: 200px;
    width: 350px;
  }

  .valores {
    padding-left: 30px;
    gap: 30px;
  }

  .graficosCheios{
    padding-left: 30px;
  }

  .chartAnual{
    width: 450px;
    height: 300px;
  }

  .chartTotal {
    width: 300px;
    height: 300px;
  }

}


@media(max-width: 768px) {
  .container{
    grid-template-columns: 180px auto;
  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .start{
    flex-direction: column;
    padding: 0;
    gap: 20px;
  }

  .valores{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 20px;
  }

  .graficosCheios{
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .header{
    height: 100vh;
    position: fixed;
  }

  .container-retangulos{
    width: 450px;
    height: 250px;
  }

  .grafico{
    height: 250px;
    width: 450px;
  }

  .chartAnual{
    width: 500px;
  }

  .chartTotal{
    width: 500px;
  }
}

@media(max-width: 375px){
  .header{
      position: relative;
      height: 50px;
  }

  .start{
    align-items: center;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .container-retangulos{
    flex-direction: column;
    height: auto;
    width: 310px;
    padding-top: 5px;
    padding-bottom: 5px;

  }

  .grafico{
    width: 310px;
    height: 300px;
  }

  .valores{
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .chartAnual{
    width: 310px;
  }

  #chartAnual{
    height: 500px;
  }

  .chartTotal{
    width: 310px;
    height: 250px;
  }
}
